{namespace hh=Posit\HtmlHelper\ViewHelper}
<f:layout name="Default" />
<f:section name="Title"><f:translate id="trainingDay.edit-title"/></f:section>
<f:section name="Content">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <f:form action="update" object="{trainingDay}" objectName="trainingDay">
            <div class="form-group">
                <label for="trainigPlan"><f:translate id="trainingDay.trainigPlan"/> </label>
                <f:form.textfield id="trainigPlan" property="trainigPlan" value="{trainingDay.trainigPlan}"  class="form-control" /> 
            </div>
            <div class="form-group">
                <label for="day"><f:translate id="trainingDay.day"/> </label>
                <hh:numericfield id="day" mask=""  repeat=""  greedy="" property="day" value="{trainingDay.day}"  class="form-control" /> 
            </div>
            <div class="form-group">
                <label for="week"><f:translate id="trainingDay.week"/> </label>
                <hh:numericfield id="week" mask=""  repeat=""  greedy="" property="week" value="{trainingDay.week}"  class="form-control" /> 
            </div>
            <div class="form-group">
                <label for="period"><f:translate id="trainingDay.period"/> </label>
                <hh:numericfield id="period" mask=""  repeat=""  greedy="" property="period" value="{trainingDay.period}"  class="form-control" /> 
            </div>
            <div class="form-group">
                <label for="description"><f:translate id="trainingDay.description"/> </label>
                <hh:stringfield id="description" mask=""  repeat=""  greedy="" property="description" value="{trainingDay.description}"  class="form-control" /> 
            </div>
            <!--
            <div class="form-group">
                <label for="executed"><f:translate id="trainingDay.executed"/> </label>
                <hh:booleanfield id="executed" property="executed" value="{trainingDay.executed->f:format.number(decimals:0)}"   class="form-control" /> 
            </div>
            -->
            <div class="form-group">
                <label for="note"><f:translate id="trainingDay.note"/> </label>
                <hh:stringfield id="note" mask=""  repeat=""  greedy="" property="note" value="{trainingDay.note}"  class="form-control" /> 
            </div>

            <div class="form-group">
                <label for="type"><f:translate id="trainingDay.type"/> </label>
                <f:form.textfield id="type" property="type" value="{trainingDay.type}"  class="form-control" /> 
            </div>
            <div class="button-bar">
                <f:link.action action="index" arguments="{trainingPlan: trainingPlan}" class="btn btn-default">
                    <f:translate id="general.cancel"/>
                </f:link.action>
                <button type="submit" class="btn btn-primary" id="submit-form">
                    <f:translate id="general.save"/>
                </button>
                <f:security.ifAccess resource="Dropesoft.TrainingDay.Delete.TrainingDayController">
                <f:link.action action="delete" class="btn btn-danger delete-action-link" arguments="{trainingDay:trainingDay}">
                    <f:translate id="general.delete"/>
                </f:link.action>
                </f:security.ifAccess>
            </div>
            <span class="span-required-msg"><f:translate id="general.msg-field-required"/></span>
        </f:form>
        </div>
    </div>
</f:section>